@import '../scss-variables';

button {
  /* normalize */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border: 0;
  /* end of normalize */

  background-color: $primary_color;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 7px 30px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}